In [1]:
##Creating Databases
import mysql.connector as sql

mydb=sql.connect(
  host="localhost",
  user="root",
  password="54321",)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001CF9A74F160>

In [2]:
mycursor= mydb.cursor()
mycursor.execute("USE imdb")

ProgrammingError: 1049 (42000): Unknown database 'imdb'

# Creating  Databases

In [3]:
mycursor= mydb.cursor()
mycursor.execute("CREATE DATABASE student")

In [4]:
mycursor.execute('SHOW DATABASES')

In [5]:
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('student',)

In [6]:
mydb=sql.connect(
  host="localhost",
  user="root",
  password="54321",
  database="student")

mycursor= mydb.cursor()
mycursor.execute("CREATE TABLE studentinfo(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

# # Inserting records

In [7]:

sql = "INSERT INTO studentinfo (name, address) VALUES (%s, %s)"
val = ("Sai", "sainagar")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [8]:
sql = "INSERT INTO studentinfo (name, address) VALUES (%s, %s)"
val = ('sush', 'Koppal')
      
mycursor.execute(sql, val)
mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [9]:
sql = "INSERT INTO studentinfo (name, address) VALUES (%s, %s)"
val = ('seema', 'Hospet')
       

mycursor.execute(sql, val)

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [10]:
sql = "INSERT INTO studentinfo (name, address) VALUES (%s, %s)"
val =  ('mahi', 'Bnglor')
       
mycursor.execute(sql, val)


print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [11]:
mycursor = mydb.cursor()
mycursor.execute("Select *from studentinfo")

In [12]:
mycursor.fetchall()

[(1, 'Sai', 'sainagar'),
 (2, 'sush', 'Koppal'),
 (3, 'seema', 'Hospet'),
 (4, 'mahi', 'Bnglor')]

In [13]:
mycursor.execute("Select Address from studentinfo ")
mycursor.fetchall()

[('sainagar',), ('Koppal',), ('Hospet',), ('Bnglor',)]

In [14]:
mycursor.execute("Select name,Address from studentinfo  WHERE name='Sai'AND Address='sainagar'")
mycursor.fetchall()

[('Sai', 'sainagar')]

# DROP TABLE

In [ ]:
mycursor.execute("DROP studentinfo  )